---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.katex-html {
	padding-top: 1px;
	padding-bottom: 1px;
	overflow-x: auto;
    overflow-y: hidden;
}

.katex-html .tag {
	margin-right: 10px;
}

img[alt=Lum] {
	width: 200px;
}

.post-box {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 20px 0px;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	overflow-x: auto;
}

.post-box.blue {
	background-color: #f2f8ff;
    border: solid 1px #c1ddff;
}

.post-box.green {
	background-color: #ebffee;
    border: solid 1px #bcd9c0;
}

.post-title {
	line-height: 1.2;
	font-size: 2em;
	letter-spacing: 0px;
}

.site-header {
	border-top: none;
}

code {
	border-color: #ddd;
	background-color: #eee;
}

span.comment {
	font-style: italic;
	color: rgba(0,0,0,0.5);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

p {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

site-header {
	font-family: "Open Sans", sans-serif;
}

span.indent-1 {
	margin-left: 40px;
}

span.indent-2 {
	margin-left: 80px;
}

span.indent-3 {
	margin-left: 120px;
}

span.indent-4 {
	margin-left: 160px;
}

.algo-box {
	background-color: #e2ffe6;
    padding: 5px 12px;
    border-radius: 4px;
    border: solid 1px #b0dfb7;
	margin-right: 0px;
}

.algo-box.indent-1 {
    margin-left: 40px;
}

.algo-box.indent-2 {
    margin-left: 80px;
}

.algo-box.indent-3 {
    margin-left: 120px;
}

.algo-box.indent-4 {
    margin-left: 160px;
}

.algo-box-group {
	display: grid;
	grid-row-gap: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
	$base-indent: 12px;
	.algo-box.indent-2 {
		margin-left: $base-indent*2;
	}
	
	.algo-box.indent-3 {
		margin-left: $base-indent*3;
	}
	
	.algo-box.indent-4 {
		margin-left: $base-indent*4;
	}

	span.indent-1 {
		margin-left: $base-indent;
	}
	
	span.indent-2 {
		margin-left: $base-indent*2;
	}
	
	span.indent-3 {
		margin-left: $base-indent*3;
	}
	
	span.indent-4 {
		margin-left: $base-indent*4;
	}

	canvas#c {
		width: 100%;
		border: solid 1px #DDD;
	}
}

span.todo {
	color: red;
}

blockquote {
	letter-spacing: 0px;
}

p:has(span.center) {
	text-align: center;
}

p {
	text-align: justify;
	hyphens: auto;
}

input[type="range"] {
	width: 100%;
}

canvas#c {
	border: solid 1px #DDD;
}

footer-col p {
	text-align: left;
}

.post-link {
	font-size: 20px;
}

.post-content h2 {
	font-size: 1.6em;
	margin-top: 1.6em;
}

.post-content h1 {
	font-size: 1.4em;
	margin-top: 1.4em;
}